<div class="home-container">
  <div class="style-1">

      <!-- Outer Row -->
      <div class="style-2">

          <div class="style-3">

              <div class="style-4 login-card">
                  <div class="style-5">
                      <!-- Nested Row within Card Body -->
                      <div class="style-6">
                          <div class="style-7 fp-img"></div>
                          <div class="style-8">
                              <div class="style-9">
                                  <div class="style-10">
                                      <div class="style-11">
                                          <img src="../../assets/imgs/logo.png" class="style-12" />
                                      </div>
                                      <a href="https://meetair.spagreen.net/demo/php/" class="style-14">
                                          <h1 class="style-15">Reset Password!</h1>
                                      </a>
                                  </div> <!-- error/success message -->
                                  <div *ngIf="errorMsg && errorMsg.length > 0" class="err-container">
                                    <button type="button" class="err-cls-btn" (click)="closeError()">
                                        ×
                                    </button>
                                    {{errorMsg}}
                                  </div>
                                  <!-- error/success message End-->
                                  <div class="style-21">
                                      <div class="style-27">
                                          <form class="style-28" [formGroup]="fpForm" (ngSubmit)="onSubmit(fpForm)">
                                              <div class="style-29">
                                                  <input type="text" formControlName="email" name="meeting_title" value="" class="style-30" placeholder="Enter Email Address.."/>
                                              </div>
                                               <button type="submit" class="style-34">Reset</button>
                                          </form>
                                      </div>
                                  </div>
                                  <hr class="style-35" />
                                  <div class="style-36">
                                      <a class="style-37" routerLink="/signin">Back to Login</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
