<div class="home-container" [ngClass]="{'h-105': signupForm.invalid && isFormSubmitted}">
  <div class="style-1">

      <!-- Outer Row -->
      <div class="style-2">

          <div class="style-3">

              <div class="style-4">
                  <div class="style-5">
                      <!-- Nested Row within Card Body -->
                      <div class="style-6">
                          <div class="style-7 signup-img"></div>
                          <div class="style-8">
                              <div class="style-9">
                                  <div class="style-10">
                                      <div class="style-11">
                                          <img src="../../assets/imgs/logo.png" class="style-12" />
                                      </div>
                                      <a href="https://meetair.spagreen.net/demo/php/" class="style-14">
                                          <h1 class="style-15">AirMeet - Signup</h1>
                                      </a>
                                  </div> <!-- error/success message -->
                                  <div *ngIf="errorMsg && errorMsg.length > 0" class="err-container">
                                    <button type="button" class="err-cls-btn" (click)="closeError()">
                                        ×
                                    </button>
                                    {{errorMsg}}
                                  </div>
                                  <!-- error/success message End-->
                                  <div class="style-21">
                                      <div class="style-27">
                                          <form class="style-28" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
                                              <div class="style-29">
                                                  <input type="text" formControlName="name" name="meeting_title" value="" class="style-30" placeholder="Name"/>
                                                  <div class="invalid-feedback" *ngIf="signupForm.get('name')?.invalid && isFormSubmitted">
                                                    Please provide valid name.
                                                  </div>
                                              </div>
                                              <div class="style-29">
                                                <input type="text" formControlName="email" name="meeting_title" value="" class="style-30" placeholder="Email"/>
                                                <div class="invalid-feedback" *ngIf="signupForm.get('email')?.invalid && isFormSubmitted">
                                                  Please provide valid email.
                                                </div>
                                            </div>
                                            <div class="style-29">
                                              <input type="password" formControlName="password" name="meeting_title" value="" class="style-30" placeholder="Password"/>
                                              <div class="invalid-feedback" *ngIf="signupForm.get('password')?.invalid && isFormSubmitted">
                                                Password Should be 8 to 15 Charactes.
                                              </div>
                                          </div>
                                              <div class="style-31">
                                                  <input type="password" formControlName="confirmPassword" name="meeting_code" class="style-32" placeholder="Confirm Password" />
                                                  <div class="invalid-feedback" *ngIf="signupForm.errors?.['confirmPasswordMatch'] && isFormSubmitted">
                                                    Passwords does not match.
                                                  </div>
                                                  <div class="style-33"></div>
                                              </div> <button type="submit" class="style-34">Signup</button>
                                          </form>
                                      </div>
                                  </div>
                                  <hr class="style-35" />
                                  <div class="style-36">
                                      <a class="style-37" routerLink="/signin">Back to Login</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
